.job-item {
  display: flex;
  border-bottom: 1px solid #808080;
  padding: 30px 50px;
  width: 600px;
}

.heartIcon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: auto;
}

.company-img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin: 0 20px;
}

.job-details-link {
  text-decoration: none;
}

.company-name {
  color: #828282;
}

.job-title {
  color: #333;
}

.job-location {
  color: rgb(196, 196, 196);
}

@media (max-width: 768px) {
  .job-item {
    width: 100%;
  }
}
