.navbar-container {
  height: 50px;
  background-color: #4267b2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.links-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.navlink {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  padding: 0 5px;
  margin: 0 15px;
}
