.navbar-container {
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 7px 2px #ccc;
}

.logo {
  font-size: 34px;
  text-decoration: none;
  color: #333;
}

.logo span {
  color: #1976d2;
  font-weight: bold;
}

.navbar {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.rslinks-container {
  width: 180px;
  display: flex;
  justify-content: flex-end;
}

.navlink {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  position: relative;
  padding: 2px 5px;
  margin: 0 15px;
  border-bottom: 2px solid transparent;
}

.navlink:hover {
  border-bottom: 2px solid #1976d2;
}

/* ------------------ hamburger-menu -------------------- */

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
  position: fixed;
  width: 32px;
  height: 27px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.space-link {
  margin-bottom: 40px;
}
/* ----------------------------------------------- */

@media (max-width: 768px) {
  .navbar-container {
    display: none;
  }
  .bm-burger-button {
    display: block;
  }
}
